@use "src/variables.scss" as var;
@use "src/styles.scss";
#home-title {
    text-align: center;
}

#self-drive {
    color: var.$accent-color-1;
    text-decoration: underline;
}

#passionate {
    color: var.$accent-color-2;
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

p {
    font-size: 120%;
}

.python-first-span {
    color: var.$python-color-1;
}

.python-second-span {
    color: var.$python-color-2;
}

.javascript-span {
    color: var.$javascript-color;
}

.c-sharp-first-span {
    color: var.$c-sharp-color-1;
}

.c-sharp-second-span {
    color: var.$c-sharp-color-2;
}

.cpp-first-span {
    color: var.$cpp-color-1;
}

.cpp-second-span {
    color: var.$cpp-color-2;
}

.angular-first-span {
    color: var.$angular-color-1;
}

.angular-second-span {
    color: var.$angular-color-2;
}

.blazor-span {
    color: var.$blazor-color;
}

.dotnet-span {
    color: var.$dotnet-color-1;
}

span {
    background-color: rgba(10, 10, 10, 1.0);
}


.inner-box {
    background-color: #2020203d;
}


* {
    text-align: justify;
    // Gives a nice space at the start of a paragraph, but must be careful when editing the text
    white-space: pre-wrap;
}


p::first-letter{
    font-size: 1.5em;
}

#language-list {
    list-style-type: circle;
}

#software-list {
    list-style-type: square;
}
