


$text-color: #fff;

$background-color: #0a0a0ae6;
$accent-color-1: #ff6347;
$accent-color-2: #6edbd2;
$python-color-1: #f9cd41;
$python-color-2: #346fa0;
$button-background-color: #1f1f1f80;
$javascript-color: #e6d24c;
$c-sharp-color-1: #189f20;
$c-sharp-color-2: #009404;
$cpp-color-1: #0180cd;
$cpp-color-2: #01559d;
$angular-color-1: #dd0031;
$angular-color-2: #c3002f;
$blazor-color: #6d429c;
$dotnet-color-1: #6d429c;
$dotnet-color-2: #111;

@mixin backdrop-blur{
    backdrop-filter: blur(2px);
}
@mixin underline($thickness){
    padding-bottom: $thickness;
    border: $accent-color-1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}