


$text-color: #fff;

$background-color-1: #0a0a0ae6;
$accent-color-1: #ff6347;
$accent-color-2: #6edbd2;
$python-color-1: #111;
$python-color-2: #111;
$button-background-color: #111;
$javascript-color: #111;

@mixin backdrop-blur{

}
